﻿@model List<BITIYA_WebSite.Models.WowSliderClass>

@{
    ViewBag.Title = "bvk";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Foll var's are for populating WowSlider li/img tags
    int i = 0;
    string wowstr = "wows1_";
    string str = wowstr;
}

<link rel="stylesheet" type="text/css" href="../../Wowslider/Projects/BVK/engine1/style.css?v=1.1" />
<script type="text/javascript" src="../../Wowslider/Projects/BVK/engine1/jquery.js"></script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.ui.map.full.min.js"></script>

<script type="text/javascript">

    $(function () {
        // Also works with: var yourStartLatLng = '59.3426606750, 18.0736160278';
        var yourStartLatLng1 = new google.maps.LatLng(30.74, 76.8);
        $('#map_canvas1').gmap({ 'center': yourStartLatLng1 });
        $('#map_canvas1').gmap('option', 'zoom', 7);
        $('#map_canvas1').gmap('addMarker', { /*id:'m_1',*/'position': yourStartLatLng1, 'bounds': false });

        var yourStartLatLng2 = new google.maps.LatLng(28.356949, 78.269332);
        $('#map_canvas2').gmap({ 'center': yourStartLatLng2 });
        $('#map_canvas2').gmap('option', 'zoom', 7);
        $('#map_canvas2').gmap('addMarker', { /*id:'m_1',*/'position': yourStartLatLng2, 'bounds': false });


    });
</script>
<div id="mission">
    <p>
        In late July 2012, a State of the Art Vocational Center for girls will be expected
        to open. Bitiya has partnered with Bharat Vikas Parisha in Punchkula, Haryana to
        create this vocational school for under privileged girls. The center will provide
        training as computer operators, seamstresses, and cosmetologists. In addition, the
        center will offer skills in becoming entrepreneurs, to utilize the skillset they
        would be taught at the center. Future plans for this space include, opening a school
        for girls along with after school academic support to ensure the success of their
        education. Please visit the website for additional information, <a href="http://www.bvpindia.com"
            target="_blank" class="content_nav">Bitiya Vikas Parishad.</a>
    
    
    </p>
    
    <div id="map_canvas1" style="width: 625px; height: 150px; float: inherit; margin-left: 130px;
            border-style: solid; border-width: thin; border-color: black">
    </div>

    <br />
    
    <!-- Start WOWSlider.com BODY section -->
	<div id="wowslider-container1">
	    <div class="ws_images">
            <ul id ="BVPimages"> 
                @foreach (var n in Model)
                {
                    str = wowstr + i.ToString();
                    i++;             
                    <li><img src="@ViewBag.imagePath@n.imageName" alt="@n.imageName" title="" id="@str"/></li>
                }
            </ul>
        </div>
        <div class="ws_bullets" id="tt_bullets">
            <div>
            `@i=1;
                @foreach (var tt in Model)
                { 
                    <a href="#" title="@tt.ttName"> <img src="@ViewBag.ttPath@tt.ttName" alt="@tt.ttName">@i</a>
                    i++;
                }
            </div>
        </div>  

        <a class="wsl" href="http://wowslider.com">Slideshow For HTML by WOWSlider.com v2.5</a>
	    <div class="ws_shadow">
        </div>
	</div>
	<script type="text/javascript" src="../../Wowslider/Projects/BVK/engine1/wowslider.js"></script>
	<script type="text/javascript" src="../../Wowslider/Projects/BVK/engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</div>