﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="maincontent">
    @*<div id="nav_middle">
        <ul class="topmenu">
            <li class="li_main"> @Html.ActionLink("PPES", "ppes", "Projects", new { @class = "content_nav" })</li>
            <li class="li_main"> @Html.ActionLink("BVK", "bvk", "Projects", new { @class = "content_nav" })</li>
            
        </ul>
    </div>*@
    <p>
        Bitiya has contributed towards several projects globally since it's inception. We
        have partnered with many other organizations that have the same mission alignment
        as us supporting them with donations and ideas to further the impact of the cause
        . Below is a summary of our contributions so far in different projects through the
        years. For a more detailed financial report please go to our <a href="../Financials/Index"
            class="content_nav">financials</a> page. Our most current ongoing projects are
        Bitiya Vikas Kendra and PPES . Our goal for the next year is to support these two
        in cash , kind and other strategic support that we can provide.
    </p>
    <br />
    <br />
    <h1>Pardada Pardadi Educational Society ( PPES )</h1><br />

    <p>
      
      Pardada Pardadi translates directly into English as "great-grandparents". 
      The term is used as an analogy to the ancient Indian wisdom that knowledge and education from your family contributes to the full blossoming of an individual.

      Since 2000, Pardada Pardadi Educational Society (PPES) has been improving the lives of girls in rural India. 
      Its mission is to uplift and empower girls from the poorest section of society by providing free education and vocational training - creating a new generation of self-reliant and educated girls who will break the cycle of poverty in the region.   
      To know more , visit our @Html.ActionLink("PPES", "ppes", "Projects", new { @class = "content_nav" }) page.
    </p>

    <br /><h1>Bitiya Vikas Kendra</h1><br />

    <p>
    
     Bitiya Vikas Kendra was established to provide  girls coming from rural and unprivileges families vocational training. It is a major
     undertaking by Bitiya in the last two years in partnership with Bharat Vikas Parishad , aka. BVP.
     To know more , visit our @Html.ActionLink("BVK", "bvk", "Projects", new { @class = "content_nav" }) page.

    </p>

   
</div>
