﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="maincontent">

<h2>Mission</h2>

<div id="mission">
    <blockquote>
        <p>
            Our mission at BITIYA is to provide educational opportunities and basic facilities
            for every underprivileged female child. We intend to maintain an environment that
            builds self esteem, develops every child to her highest potential, and instills
            the attitudes, skills, and knowledge necessary to become an independent, valuable,
            contributing member of a progressive society.</p>
        <h2>
            Vision</h2>
        <p>
            Our vision at BITIYA is to facilitate a change in our society by providing opportunity
            for female and needy children. We believe that education is a tool by which we can
            plant the seeds of change and growth towards a more global perspective where opportunity
            is not exclusive. When young girls are educated, important social reforms are accelerated
            over time. As the primary caregiver of the family, women with an education improve
            the health and nutrition of their family which lead to further positive results
            including a decline in infant mortality, accelerated literacy in the household,
            decreased birth rates and increased family incomes. These beneficial social changes
            in turn result in positive effects for the country’s overall national economy. Our
            model is based on women empowering female children all over the world for a brighter
            future. Our goal is to dramatically increase the tally of educated female children.
            We aim to transcend borders, nationalities, race, color, and religion to create
            a global environment of independent, confident women who benefit the human race.
        </p>
    </blockquote>
</div>
</div>
