﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="MainContent">
    <table id="table-3" ">

        <thead>
            <tr>
                    <th style="text-align:right" >Year</th>
                    <th  style="text-align:right" >2012</th>
                    <th  style="text-align:right">2011</th>
                    <th  style="text-align:right">2010</th>
                    <th  style="text-align:right">2009</th>
             </tr>
             
        </thead>
        <tbody>
        <tr><td colspan=5>Financials in US dollars ( $ )</td></tr>
        <tr><td colspan="5" ><font style="font-size:14px; font-weight:bold">Support and Revenue</font></td></tr>
        <tr >
             <td>Individual Contributions</td> 
             <td align="right">3,841.00</td>
             <td align="right">1,500.00</td> 
             <td align="right">3,490.00</td> 
             <td align="right">3,500.00</td> 
        </tr>
<tr>
    <td>Company Contributions</td>
    <td></td>
    <td align="right">2,000.00</td>
    <td align="right">1,500.00</td>
    <td></td>
    <td></td>
</tr>				
                        <tr>
<td>Grants</td>
<td align="right">3,000.00</td>
<td></td>
<td></td>
<td></td>
</tr>	  	  	  	  
                        <tr>
<td>Foundation</td>
<td></td>
<td align="right">5,000.00</td>
<td align="right">2,000.00</td>
<td></td>
</tr> 
                        <tr>
<td>Event Sales</td>
<td align="right">25,971.00</td>
<td align="right">5,043.00</td>
<td align="right">93,817.00</td>
<td align="right">10,005.00</td>
</tr> 
                        <tr class="table_footer">
<td style="text-align:right">Total Revenue</td>
<td align="right">32,812.00</td>
<td align="right">13,543.00</td>
<td align="right">100,807.00</td>
<td align="right">13,505.00</td>
</tr> 	
				
<tr><td colspan="5" ><font style="font-size:14px; font-weight:bold">Expenses</font></td></tr>				
<tr>
    <td>Registration</td>
    <td align="right">250.00</td>
    <td align="right"></td>
    <td align="right"></td>
    <td align="right"></td>
    
</tr>	
<tr>
    <td>Maintanence</td>
    <td align="right">243.00</td>
    <td align="right">301.00</td>
    <td align="right">482.00</td>
    <td align="right">222.50</td>
</tr>
<tr>
    <td>Event expenses</td>
    <td align="right">1509.52</td>
    <td align="right">950.00</td>
    <td align="right">77,326.00</td>
    <td align="right">7,150.50</td>
</tr>			
<tr class="table_footer">
    <td style="text-align:right">Total Expenses</td>
    <td align="right">1752.52&nbsp;</td>
    <td align="right">1,251.00</td>
    <td align="right">77,808.00</td>
    <td align="right">7,373.00</td>
</tr>
 
				
<tr><td colspan="5"><font style="font-size:14px; font-weight:bold">Project Donation</font></td></tr>

<tr>
    <td>Bitiya Vikas Kendra</td>
    <td align="right">17,500.00</td>
    <td align="right">7,000.00</td>
    <td align="right">20,000.00</td>
    <td align="right"></td>
</tr>
<tr>
    <td>PPES</td>
    <td align="right">12,000.00</td>
    <td align="right">7,000.00</td>
    <td align="right"></td>
    <td align="right">7,000.00</td>
</tr>
<tr>
    <td>Prayas</td>
    <td></td>
    <td></td>
    <td align="right">1,257.00</td>
    <td align="right">2,146.00</td>
</tr>
<tr>
   <td>ICreate</td>
   <td></td>
   <td></td>
   <td align="right">725.00</td>
   <td></td>
</tr>
<tr>
    <td>Salam Balak</td>
    <td></td>
    <td></td>
    <td align="right">18,000.00 </td>
    <td></td>
</tr>
			

<tr class="table_footer">
    <td style="text-align:right">Total Donation</td>
    <td align="right">29,500.00</td>
    <td align="right">14,000.00</td>
    <td align="right">39,982.00</td>
    <td align="right">9,146.00</td>
</tr>	

</tbody>
</table>
            
            </div>
